<ion-content class="ion-padding">
    <div id="header" class="ion-margin-bottom">
      <ion-icon id="menu-icon" name="grid-outline"></ion-icon>
      <div id="location">
        <ion-icon name="paper-plane"></ion-icon>
        <h4 class="ion-no-margin">Cuenca</h4>
      </div>
      <div id="avatar">
                <ion-img src="/assets/img/perfil.jpg"></ion-img>
      </div>
    </div>
    <!-- Busqueda -->   
    <ion-searchbar></ion-searchbar>
    <!-- banner -->
    <div id="banner">
        <ion-img src="/assets/img/banner.png"></ion-img>
    </div>
    <!-- Categorias -->
    <div class="list-title">
        <h3 class="title">Categorias</h3>
    </div>
      
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let item of canchas">
        <app-canchas-item [item]="item"></app-canchas-item>
      </ion-slide>
    </ion-slides>

    <!-- Canchas -->
    <div class="list-title">
      <h3 class="title">Canchas Disponibles</h3>
    </div>

    <div class="product-list">
      <app-product-card *ngFor="let item of products" [item]="item" (clicked)="goToDetailPage(item.id)"  ></app-product-card>
    </div>
</ion-content>

