<ion-content>
    <div id="header" class="ion-margin-bottom">
        <ion-icon id="menu-icon" name="grid-outline"></ion-icon>
            <div id="location"></div>
            <ion-icon name="location"></ion-icon>
            <h4 class="ion-no-margin">Cuenca</h4>
            <div id="avatar">
                <ion-icon name="person-circle-outline"></ion-icon>
            </div>
    </div>
    <!-- Ciudad -->
    <ion-list>
        <ion-item>
          <ion-select placeholder="Select fruit">
            <ion-select-option value="apples">Cuenca</ion-select-option>
            <ion-select-option value="oranges">Machala</ion-select-option>
            <ion-select-option value="bananas">Guayaquil</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>      
    <!-- Busqueda -->   
    <ion-searchbar></ion-searchbar>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <!-- modal para fecha -->
    <ion-modal [keepContentsMounted]="true">
    <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
    </ion-modal>
    <!-- banner -->
    <div id="banner">
        <ion-img src="/assets/img/banner.png"></ion-img>
    </div>
    <!-- Categorias -->
    <div class="list-title">
        <h3 class="title">Categorias</h3>
    </div>
    <ion-slides>
      <ion-slide *ngFor="let item of canchas">
        <app-canchas-item [item]="item"></app-canchas-item>
      </ion-slide>
    </ion-slides>
</ion-content>

